<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>header}}
    <title>Not found</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-3">Not Found</h1>
        <p class="lead">This page is not found please head to the home page</p>
        <hr class="my-2">
        <a href="/">Home</a>
        <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p>
    </div>
</body>
</html>